body {
  background-image: url("https://media.giphy.com/media/l2JJDdD7cv4xdGGis/source.gif");
  background-size: cover;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#cat {
  height: 25vh;
  width: 600px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.skills {
  align-self: flex-start;
}

p {
  text-align: center;
}

h2 {
  align-self: center;
}

ol {
  display: flex;
  justify-content: space-between;
  flex-basis: 33.33333%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fonts {
  font-family: "Bebas Neue", cursive;
  font-size: 24px;
  color: white;
  text-shadow: 0.5px 0.5px 0.5px rgb(255, 255, 255);
}

nav {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  border-image-slice: 1;
}

.fieldset {
  text-align: center;
  align-self: center;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  border-image-slice: 1;
}

ol {
  padding-left: 0;
}

.crumb {
  margin-right: 2em;
  display: inline;
}

a {
  background-image: linear-gradient(
    to left,
    violet,
    rgb(149, 0, 255),
    rgb(0, 225, 255),
    green,
    yellow,
    orange,
    red
  );
  -webkit-background-clip: text;
  color: transparent;
  font-size: 32px;
  font-weight: bold;
}

a:hover {
  background-image: linear-gradient(
    to left,
    violet,
    rgb(149, 0, 255),
    rgb(0, 225, 255),
    green,
    yellow,
    orange,
    red
  );
  -webkit-background-clip: text;
  color: transparent;
  font-size: 48px;
  font-weight: bold;
}

.input1 {
  display: inline-block;
}

input {
  display: block;
}

img {
  max-width: 300px;
}

.btns {
  border-radius: 35%;
  height: 35px;
  background-image: linear-gradient(
    to left,
    violet,
    rgb(149, 0, 255),
    rgb(0, 225, 255),
    green,
    rgb(255, 217, 0),
    orange,
    red
  );
  color: white;
  text-shadow: 0.5px 0.5px 3px rgb(0, 0, 0);
  font-size: 16px;
  font-family: "Bebas Neue", cursive;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btngrp {
  display: flex;
  justify-content: space-evenly;
}

#skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.goals {
  text-align: center;
}

.titles {
  font-size: 48px;
}

.titles2 {
  font-size: 32px;
}

.submit {
  margin: 0 0 0 160px;
}
